.DS_Store
.idea
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
src/tt_um_perceptron_clarencechan28.v
src/perceptron.v
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
